.solution.modal {
    h3 {
      text-align: center;
      font-size: 2em !important;
      font-family: $font-family-oswald;
      margin: .25em auto;
      text-transform: uppercase;
    }
  
    .description,
    .plans,
    .criteria {
      padding: 0 15px;
    }
  
    .success {
      .share {
        color: $black-color;
        font-size: 1.25em;
  
        > div {
          display: inline-block;
          font-size: 2.25em;
          margin: 0 .25em;
        }
  
        i {
          opacity: .85;
          transition: opacity .35s;
          text-align: center;
  
          &:hover {
              opacity: 1;
          }
        }
      }
    }
  
    .plans {
      > div {
        margin: 1.5em 0;
      }
  
      ul {
        font-size: .9em;
        padding: 0;
        margin: 0;
      }
  
      li {
        list-style-type: none;
        margin: .5em 0;
      }
  
      .pricing {
        padding: 0 .25em;
        color: $secondary-green-color;
        font-size: .9em;
  
        span {
          display: inline-block;
          margin-left: .5em;
        }
      }
    }
  
    .quote {
      background: none;
      padding: 0;
  
      &:first-child > div {
        margin-top: -1.5em !important;
      }
    }
  }